In [42]:
pip install geopy

Requirement already satisfied: geopy in /Users/marijkevandergeer/opt/anaconda3/lib/python3.9/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/marijkevandergeer/opt/anaconda3/lib/python3.9/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [43]:
#Install packages
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from geopy.point import Point

import pandas as pd
import numpy as np

In [44]:
#break into chunks -> check batch size
#input = df, output = df

In [45]:
#Sample Data

#dataframe with Longitude/Latitude columns
data = {'Latitude':[38.8977, 40.7128, 38.03374, 32.774799, 38.894637076808095, 48.853981898893686], 'Longitude':[77.0365, -74.0060, -78.50806, -117.071869, -77.07020491294024, 2.328933357693255]}
test_data = pd.DataFrame(data)

In [ ]:
#More sample data
data2 = {'Latitude':[38.897743310721516, 48.853981898893686], 'Longitude':[-77.03646272352393, 2.328933357693255]}
test_data2 = pd.DataFrame(data2)

In [46]:
#More sample data
sample3 = pd.read_csv('/Users/marijkevandergeer/Desktop/sample_data.csv')

In [48]:
def reverse_geocode(latitude, longitude):
    geolocator = Nominatim(user_agent="reverse_geocoding_tool")

    try:
        location = geolocator.reverse((latitude, longitude), language='en')
        if location:
            return location.address
        else:
            return "Address not found"
    except GeocoderTimedOut:
        return reverse_geocode(latitude, longitude)  # Retry if timeout occurs

In [57]:
#Calls reverse_geocode and adds 'Address' to df
#Input is a df with columnss latitude and longitude
def reverse_geocode_tool(df):
    df['Address'] = df.apply(lambda row: reverse_geocode(row['Latitude'], row['Longitude']), axis=1)
    return df

In [51]:
def main(df):
    print(reverse_geocode_tool(df))

In [53]:
main(test_data)

    Latitude   Longitude                                            Address
0  38.897700   77.036500  Yopurga County, Kashgar Prefecture, Xinjiang, ...
1  40.712800  -74.006000  The Bridewell, City Hall Park Greenway, Lower ...
2  38.033740  -78.508060  Smith Portal, McCormick Road, McCormick Road H...
3  32.774799 -117.071869  San Diego State University, 1, Campanile Mall,...
4  38.894637  -77.070205  1100, Wilson Boulevard, Rosslyn, Arlington, Ar...
5  48.853982    2.328933  Institut d'Études Politiques, Rue de Grenelle,...

In [54]:
main(test_data2)

    Latitude  Longitude                                            Address
0  38.897743 -77.036463  Zastava Sjedinjenih Američkih Država, Pennsylv...
1  48.853982   2.328933  Institut d'Études Politiques, Rue de Grenelle,...

In [55]:
main(sample3)

     Latitude  Longitude                                            Address
0       42.50       1.50     Santa Coloma, Andorra la Vella, AD500, Andorra
1       24.00      54.00  Um Laylah, Al Dhafrah Region, Abu Dhabi Emirat...
2       33.00      65.00             Baghran, Helmand Province, Afghanistan
3       17.05     -61.80  Swetes Wesleyan Holiness Church, Swetes Road, ...
4       18.25     -63.17                                           Anguilla
..        ...        ...                                                ...
235     15.00      48.00  Ad Dale'ah, Ad Dale'ah District, Hadramaut Gov...
236    -12.83      45.17  29, GR Tour de Mayotte, Tsararano, Dembéni, Ma...
237    -29.00      24.00  Siyancuma Ward 2, Siyancuma Local Municipality...
238    -15.00      30.00          Rufunsa District, Lusaka Province, Zambia
239    -20.00      30.00            Zvishawane, Midlands Province, Zimbabwe

[240 rows x 3 columns]

In [59]:
reverse_geocode_tool(test_data)

    Latitude   Longitude                                            Address
0  38.897700   77.036500  Yopurga County, Kashgar Prefecture, Xinjiang, ...
1  40.712800  -74.006000  The Bridewell, City Hall Park Greenway, Lower ...
2  38.033740  -78.508060  Smith Portal, McCormick Road, McCormick Road H...
3  32.774799 -117.071869  San Diego State University, 1, Campanile Mall,...
4  38.894637  -77.070205  1100, Wilson Boulevard, Rosslyn, Arlington, Ar...
5  48.853982    2.328933  Institut d'Études Politiques, Rue de Grenelle,...

In [60]:
reverse_geocode_tool(test_data2)

    Latitude  Longitude                                            Address
0  38.897743 -77.036463  Zastava Sjedinjenih Američkih Država, Pennsylv...
1  48.853982   2.328933  Institut d'Études Politiques, Rue de Grenelle,...

In [61]:
reverse_geocode_tool(sample3)

     Latitude  Longitude                                            Address
0       42.50       1.50     Santa Coloma, Andorra la Vella, AD500, Andorra
1       24.00      54.00  Um Laylah, Al Dhafrah Region, Abu Dhabi Emirat...
2       33.00      65.00             Baghran, Helmand Province, Afghanistan
3       17.05     -61.80  Swetes Wesleyan Holiness Church, Swetes Road, ...
4       18.25     -63.17                                           Anguilla
..        ...        ...                                                ...
235     15.00      48.00  Ad Dale'ah, Ad Dale'ah District, Hadramaut Gov...
236    -12.83      45.17  29, GR Tour de Mayotte, Tsararano, Dembéni, Ma...
237    -29.00      24.00  Siyancuma Ward 2, Siyancuma Local Municipality...
238    -15.00      30.00          Rufunsa District, Lusaka Province, Zambia
239    -20.00      30.00            Zvishawane, Midlands Province, Zimbabwe

[240 rows x 3 columns]